<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bg.system.mapper.SysMenuMapper">

    <select id="getCodesByUser" resultType="java.lang.String">
        select p.code
        from sys_user u
                 inner join sys_user_role t1 on t1.user_id = u.id and t1.deleted = 0 and t1.status = 1
                 inner join sys_role r on t1.role_id = r.id and r.deleted = 0 and r.status = 1
                 inner join sys_role_menu rp on r.id = rp.role_id and rp.deleted = 0 and rp.status = 1
                 inner join sys_menu p on rp.permission_id = p.id and p.deleted = 0 and p.status = 1
        where u.id = #{userId}
        order by p.create_time desc
    </select>

    <select id="getMenuListByUser" resultType="com.bg.system.entity.SysMenu">
        select p.*
        from sys_user u
                 inner join sys_user_role sur on sur.user_id = u.id and sur.deleted = 0 and sur.status = 1
                 inner join sys_role r on r.id = sur.role_id and r.deleted = 0 and r.status = 1
                 inner join sys_role_menu rp on rp.role_id = r.id and rp.deleted = 0 and rp.status = 1
                 inner join sys_menu p on p.id = rp.permission_id and p.deleted = 0 and p.status = 1
        where u.id = #{userId}
        order by p.create_time desc
    </select>

    <select id="getMenuListByRole" resultType="com.bg.system.entity.SysMenu">
        select p.*
        from sys_role_menu rp
                 inner join sys_menu p on rp.permission_id = p.id and p.deleted = 0 and p.status = 1
        where rp.role_id = #{roleId} desc
    </select>

</mapper>
