<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bg.system.mapper.SysRoleMapper">

    <select id="selectRoleListByUserId" resultType="com.bg.system.entity.SysRole">
        select distinct r.id,
                        r.role_name,
                        r.role_code,
                        r.status,
                        r.create_time,
                        r.creator_name,
                        r.update_name,
                        r.update_time
        from sys_role r
                 inner join sys_user_role ur on r.id = ur.role_id and ur.deleted = 0
        where ur.user_id = #{userId}
    </select>

</mapper>